# Miscellaneous
migrate_working_dir/
.atom/
.buildlog/
.svn/
*.class
*.log
*.pyc
*.swp
.DS_Store
.history

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Flutter/Dart/Pub related
android/
build/
ios/
linux/
macos/
web/
windows/
**/doc/api/
.dart_tool/
.pub-cache/
.pub/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json